			<div id="leftSide" style="display: none">
			
				<div class="pageslide-content">
					<h4>PAGE TRANSISTIONS</h4>	
					<h5>Choose one and be AMAZED.</h5>
					<hr>
						<div id="tranList">
						
						</div>							
					<hr>
					<p><a href="javascript:$.pageslide.close()">Close</a></p>
				</div>
				
				
			</div>	
			
			<div id="rightSide" style="display: none">
				<a class="pull-right" href="javascript:$.pageslide.close()">Close</a>
				<h2> PARTS </h2>	
				<hr>
					<ul>
						<li><a class="btn metro" onclick="changeHash('home',	67)">		Grid System </a></li>
						<li><a class="btn metro" onclick="changeHash('page2',	67)"> 		Components </a></li>
						<li><a class="btn metro" onclick="changeHash('page3',	67)"> 		Sectionals </a></li>
						<li><a class="btn metro" onclick="changeHash('page12',	67)"> 		Modal+ </a></li>
						<li><a class="btn metro" onclick="changeHash('page11',	67)"> 		AngularJS </a></li>
						<li><a class="btn metro" onclick="changeHash('page13',	67)"> 		jCrop </a></li>
						<li><a class="btn metro" onclick="changeHash('page14',  67)">		Annotorious</a></li>
					</ul>
				<br><br>
				<h2> PLUGINS </h2>	
				<hr>
					<ul>
						<li><a class="btn metro" onclick="changeHash('page4',	67)"> 		Pageslide </a></li>
						<li><a class="btn metro" onclick="changeHash('page5',	32)"> 		Links </a></li>
						<li><a class="btn metro" onclick="changeHash('page6',	22)"> 		Colorbox </a></li>
						<li><a class="btn metro" onclick="changeHash('page7',	26)"> 		Photopile </a></li>
						<li><a class="btn metro" onclick="changeHash('page8',	31)"> 		3D Gallery </a></li>
						<li><a class="btn metro" onclick="changeHash('page9',	31)"> 		Ani Gallery </a></li>
						<li><a class="btn metro" onclick="changeHash('page10',	31)"> 		Header Effects </a></li>
					</ul>
				<hr>
					<BR><BR>
					
			</div>		
			
			
			<!-- ADD THESE TO ACTIVATE THE SLIDE
							<a href="javascript:$.pageslide({ direction: 'right', href: '#rightSide' })">RightSlide</a>
							<a href="javascript:$.pageslide({ direction: 'left' , href: '#leftSide' })">LeftSlide</a>
			-->
			
			
			
			
			<script>
				$().ready(function() {		
					fillList();
				})
				
				
				function fillList(){
				
					for (var i = 1; i <= 67; i++){
						var buildString = '<a class="btn" onclick="transistionsDemo(' + i + ')"> E' + i + '</a>'
						$('#tranList').append(buildString);
					}
				
				}
			
				var demoType = "A"
				function transistionsDemo(type){
					if 		(demoType == "A"){ demoType = "B" } 
					else if	(demoType == "B"){ demoType = "A" } 
					changeHash('page' + demoType, type )
				
				}						
			</script>