<br><br><br><br>

<div id="angularApp2" class="container">
	<h1>DATA BINDING</h1>
	<hr>
                 <h1>{{inputD}}</h1>
				 <h1>{{inputE}}</h1>
				 <h1>{{inputF}}</h1>
	<hr>
	<a class="btn metro colorSchemeA" onclick="updateHeader2()">UPDATE</a>
</div>



<script>
	
		/////////////////
		//ANGULAR UPDATE
		function updateHeader2(){
			angular.bootstrap(document);	
			var scope = angular.element( $('#angularApp2') ).scope() 
			scope.inputD = "Input 1"	
			scope.inputE = "Input 2"	
			scope.inputF = "Input 3"	
			scope.$digest();
		}		

		/////////////////


</script>