
<div id="aboutPage">

	<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
		<div class="minMobile">
			
			<!-- LOGO -->
			<div class="container texture0">
				<div class="col-xs-10 col-xs-offset-1">
					<br>	
					<img src="siteImg/logo.png" class="img-responsive"/>
					<br>	
				</div>	
			</div>
			
			
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>	
			</div>		
		</div>	
		
		
	    <!-- CONTENT -->
	      <div class="container">
	      	
	      		<div class="row">
	       		 	<div class="col-xs-12">
	       		 		<br>
	       		 		<img src="siteImg/self.jpg" class="img-responsive img-rounded" />
	       		 		<br>
	       		 	</div>      			
	
	
	    	  </div>
	    	</div>
		
	      <div class="container texture0">
	      	<hr>
	      		<div class="row">   			
	      			<div class="col-xs-12">
	      				<div class="col-xs-10 col-xs-offset-1">      				
	       		 		<h1>{{mainHeader}}</h1>
	       		 		<br>
	       		 		<p>{{mainContent}}</p>
	       		 		<br><br>
	       		 		</div>
	       		 	</div>
	
	    	  </div>
	    	</div>	
		
	
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row white">
	        <div class="col-xs-12">
	        <br>
	          <h2>{{point1_header}}</h2>
	          <br> 
	          <img src="siteImg/style.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point1_content}}</p>
	        <br>
	        </div>
	      
	        <div class="col-xs-12 texture0 brown">
	       	<br>
	          <h2>{{point2_header}}</h2>
	          <br>
	          <img src="siteImg/gear.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point2_content}}</p>
	       <br>
	       </div>
	       <div class="col-xs-12">
	         <br> 
	          <h2>{{point3_header}}</h2>
	          <br>
	          <img src="siteImg/dog.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>          
	          <p>{{point3_content}}</p>
	         <br>  
	       </div>
	      </div>
	    </div>
	    
	    	
			
		<!-- FOOTER -->
		<div class="container texture0">		
			<br>
				<div class="row">
						
					<div class="col-xs-12 centerText">			
						<img src="siteImg/facebookIcon.png" />
					</div>	
												
				</div>
				<br>		
		</div>
	 
		</div>
	</div>
	
	
	
	<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->
		
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>	
			</div>	
		</div>
		
		
	
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-2 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-4  centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>		
		</div>
	 	
	 	
	    <!-- CONTENT -->
	      <div class="container texture0">
	      	<hr>
	      		<div class="row">
	      			<div class="col-xs-7">
	      				<div class="col-xs-10 col-xs-offset-1">
	      				<br><br>
	       		 		<h1>{{mainHeader}}</h1>
	       		 		<p>{{mainContent}}</p>
	       		 		<br>
	       		 		</div>
	       		 	</div>
	       		 	<div class="col-xs-5">
	       		 		<br><br>
	       		 		<img src="siteImg/self.jpg" class="img-responsive img-rounded" />
	       		 		<br><br>
	       		 	</div>
	    	  </div>
	    	</div>
		
	
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row white">
	        <div class="col-md-4">
	          <h2>{{point1_header}}</h2>
	          <br> 
	          <img src="siteImg/style.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point1_content}}</p>
	          
	        </div>
	        <div class="col-md-4">
	          <h2>{{point2_header}}</h2>
	          <br>
	          <img src="siteImg/gear.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point2_content}}</p>
	         
	       </div>
	        <div class="col-md-4">
	          <h2>{{point3_header}}</h2>
	          <br>
	          <img src="siteImg/dog.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>          
	          <p>{{point3_content}}</p>
	         
	        </div>
	      </div>
	    </div>
	
	    <br><br><br>
	    
	
		<!-- FOOTER -->
		<div class="container texture0">		
			<div class="row">
				<br>
				<div class="col-xs-4 col-xs-offset-4 centerText">			
					<a href="https://www.facebook.com/angie.clark.7771"><img src="siteImg/facebookIcon.png" href=""/></a>
					<br><br>		
				</div>					
		</div>
		
	</div>

</div>




<script>

	angular.bootstrap(document);	
			var scope = angular.element( $('#aboutPage') ).scope(); 
			scope.mainHeader = "Meet the Photographer, Angie!";	
			scope.mainContent  = "Hello world! Thank you so much for dropping by and spending the time to look at my work. Photography has been a big part of my life since I was ten and we’ve been inseparable ever since and I feel very blessed that I get to share my passion with such great people. When Im shooting whether it be a wedding, a family and anything in-between nothing else in the world matters except the love and joy that I’m capturing. I would love to meet you and get to know you better!";	
				
			scope.point1_header 	= "Style";
			scope.point1_content	= "Most photographers will tell you that their style is classic or photojournalistic; I would have to say I lean more towards the photojournalistic style with a commercial flare. By commercial I mean I would not present you with photos that I didn’t think could be in a magazine. I take pride in my product.";
						
			scope.point2_header		= "Equipment";	
			scope.point2_content	= "I am constantly researching the next big thing in the digital photography world. I’m always learning more, getting my hands on books, video tutorials and forums. My photography gets better with each passing day as does my equipment.";	
			
			scope.point3_header		= "Fun Facts about Me";
			scope.point3_content	= "I love owls and foxes! I have the cutest dog ever, Tuxedo (he’s always ready for a wedding in his tux ^_^). I love playing video games with my boyfriend and munchkin (a card game you MUST play) with friends.";
			scope.$digest();
	
</script>
