
<div id="galleryPage">

	<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
		<div class="minMobile">
			
			<!-- LOGO -->
			<div class="container texture0">
				<div class="col-xs-10 col-xs-offset-1">
					<br>	
					<img src="siteImg/logo.png" class="img-responsive"/>
					<br>	
				</div>	
			</div>
			
			
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>	
			</div>		
		</div>	
		
			<!-- CAROUSEL1-->		
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(1)">{{gallery1}}</a></b>
				</nav>
				<br>
				<div class="row">
				    <div id="galleryCarousel-1" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-1" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>
			
			<!-- CAROUSEL2-->
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(2)">{{gallery2}}</a></b>
				</nav>	
				<br>		
				<div class="row">
				    <div id="galleryCarousel-2" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-2" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-2" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>	
			
			<!-- CAROUSEL3-->
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(3)">{{gallery3}}</a></b>
				</nav>	
				<br>		
				<div class="row">
				    <div id="galleryCarousel-3" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-3" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-3" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-3" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>	
			
			<!-- CAROUSEL4-->
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(4)">{{gallery4}}</a></b>
				</nav>	
				<br>		
				<div class="row">
				    <div id="galleryCarousel-4" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-4" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-4" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-4" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>	
			
			<!-- CAROUSEL5-->
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(5)">{{gallery5}}</a></b>
				</nav>	
				<br>		
				<div class="row">
				    <div id="galleryCarousel-5" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-5" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-5" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-5" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>	
			<!-- CAROUSEL5-->
			<div class="container texture0 centerText">
				<nav class="cl-effect-1">
					<b><a class="btn" onclick="fetchMobile(6)">{{gallery6}}</a></b>
				</nav>	
				<br>		
				<div class="row">
				    <div id="galleryCarousel-6" class="carousel slide" data-ride="carousel">
				      <div id="mainGallery-6" class="carousel-inner">
				      </div>
				      <a class="left carousel-control" href="#galleryCarousel-6" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				      <a class="right carousel-control" href="#galleryCarousel-6" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				    </div><!-- /.carousel -->
				</div>		    
			</div>				
			
			
			<!-- FOOTER -->
			<div class="container texture0">		
				<br>
					<div class="row">
							
						<div class="col-xs-12 centerText">			
							<img src="siteImg/facebookIcon.png" />
						</div>	
													
					</div>
					<br>		
			</div>
		 
		</div>
	</div>
	
	
	
	<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->
		
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>	
			</div>	
		</div>
		
		<div class="container texture0">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-2 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-4  centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>		
		</div>
	
		
		<div class="container texture0">
			<div class="row">
				<nav class="cl-effect-3 ">
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(1)">{{gallery1}}</a>
					</div>
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(2)">{{gallery2}}</a>
					</div>
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(3)">{{gallery3}}</a>
					</div>
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(4)">{{gallery4}}</a>
					</div>
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(5)">{{gallery5}}</a>
					</div>
					<div class="col-md-2 centerText">		
						<a class='btn noPadding' onclick="fetchGalleryData(6)">{{gallery6}}</a>
					</div>
			
				</nav>
			</div>
			<br>
		</div>
	
		<div class="container">
			<div class="row">
				<div id="imgContainer">
					
					<div id="column1" class="col-xs-4">
						
					</div>
					<div id="column2" class="col-xs-4">
						
					</div>
					<div id="column3" class="col-xs-4">
						
					</div>				
									
				
					
					
				</div>			
			</div>
	
		</div>
	
		<br><br><br>
		<!-- FOOTER -->
		<div class="container texture0">		
			<div class="row">
				<br>
				<div class="col-xs-4 col-xs-offset-4 centerText">			
					<a href="https://www.facebook.com/angie.clark.7771"><img src="siteImg/facebookIcon.png" href=""/></a>
					<br><br>		
				</div>					
		</div>
		
	</div>
	



	</div>
</div>

<script>

	function fillGallery(galleryData, group){
		
		var threshold 	= Math.floor(galleryData.length/3); 
		var counter 	= 0;
		var currentCol	= 1
		 
		$('#column1').empty()
		$('#column2').empty()
		$('#column3').empty()
		 
		for (var i = 0; i < galleryData.length; i++){
			
			var imgSrc	 	=  galleryData[i][0];
			var imgWidth 	=  galleryData[i][1];
			var imgHeight =  galleryData[i][2];
		
			var shellContainer 	= '<div class="" style="padding: 20px">';
			var shellContent	= '<a class="group1" href="' + imgSrc + '"><img src="' + imgSrc + '" class="img-responsive dropShadow" /></a>';
			var shellClosure 	= '</div>';
	 
			var buildString = shellContainer + shellContent + shellClosure 
			$('#column' + currentCol).append(buildString)
			
			counter++
			if (counter > threshold){ currentCol++; counter = 0 }
		}
		
	
		
		 	 
		// ADD COLORBOX SUPPORT
		$(".group1").colorbox({rel:'group1'});	

		
	}
	
	
	function fillMobiles(galleryData, group, callback){
		
		var galleryDiv = $('#mainGallery-' + group)
		
		if( galleryDiv.children().length == 0){
		
			for (var i = 0; i < galleryData.length; i++){
				
				var imgSrc =  galleryData[i][0];
				if (galleryData[i][3] == 'h' && galleryData[i][2] > 550){				
					 var shellContainer =	'<div class="item" style="max-height: 450px; min-height: 200px">';
					 var shellImage		= 	'<img src="' + imgSrc + '" class="img-responsive" style="width:100%">';
					 var shellCaption	=	'<div class="container"><div class="carousel-caption">';
					 var shellCaptionMsg = 	"";
					 var shellClosure	= 	'</div></div></div>';		 
					 var buildString 	= 	shellContainer + shellImage + shellCaption + shellCaptionMsg + shellClosure		 
					 galleryDiv.append(buildString)
				};
			}
			 	 
			$('#mainGallery-' + group).find('div:first-child').addClass("active")
		
		}else{
			galleryDiv.empty();
			
		}		
		callback();
	}
	
	

	function fetchGalleryData(i){

			if(!loadVar("getGallery" + i)) {
				callPHPFunction('getGallery' + i, function(returnState, data){			
					if (returnState){								
						saveVar("getGallery" + i, (data) )
						fillGallery( JSON.parse(loadVar("getGallery" + i)), i );
					}
					else{
							
					}
						
				});					
			}
			// GALLERY ALREADY EXIST; CONTINUE
			else{
				fillGallery( JSON.parse(loadVar("getGallery" + i)), i );
			};		
		
	}
	
	function fetchAllMobile(){
		var i = 1; 
		var max = 5; 
		
		function start(){
			fillMobiles( JSON.parse(loadVar("getGallery" + i)), i, function(){
					next();	
			});			
		};
		
		function next(){
			
			i++; 
			if (i >= max){ 	end(); 		}
			else{			start();	}
		}
		
		function end(){
			
		}
		
		start();
	
	}
	
	function fetchMobile(i){
			fillMobiles( JSON.parse(loadVar("getGallery" + i)), i, function(){					
			});		
	}
	

	///// INIT
	//
		fetchGalleryData(1);
		fetchMobile(1)
		
		angular.bootstrap(document);	
				var scope = angular.element( $('#galleryPage') ).scope(); 
				
				scope.gallery1 	= "Weddings";
				scope.gallery2	= "Engagements";
				scope.gallery3	= "Familes";
				scope.gallery4	= "Maternity";
				scope.gallery5	= "Little Ones";
				scope.gallery6	= "Senior Photos";	
				
				scope.$digest();			
		
		//fetchAllMobile()
	//
	/////
		
		
		
	
</script>
