<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
	
	<!-- LOGO -->
	<div class="container texture0" style="position: absolute; width: 100%; height: 150px">
		
	</div>		
	<div class="minMobile">
		
		<div class="container">		
	
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>
				<br>	
			</div>	
	
		</div>
	</div>


</div>



<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->
	<!-- LOGO -->
	<div class="container texture0" style="position: absolute; width: 100%; height: 150px">
		
	</div>		
	<div class="container">	
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>	
			</div>	
	</div>
</div>
