


<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
	<div class="minMobile">
		
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>
				<br>	
			</div>	
		</div>
		
		
	<!-- NAV -->
	<div class="container texture0">
		<div class="row">
		<div class="row">
			<nav class="cl-effect-1">
				<div class="col-xs-12 centerText">			
					<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
				</div>
				<div class="col-xs-12  centerText">			
					<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
				</div>			
				<div class="col-xs-12 centerText">			
					<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
				</div>	
				<div class="col-xs-12  centerText">			
					<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
				</div>
				<div class="col-xs-12  centerText">			
					<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
				</div>
				<br><br>		
			</nav>
		</div>	
		</div>		
	</div>		
		
		
		<!-- CAROUSEL1-->
		<div class="container colorSchemeBlack">
			<div class="row">
			    <div id="galleryCarousel-mobile" class="carousel slide" data-ride="carousel">
			      <div id="mainGallery-mobile" class="carousel-inner">
			      </div>
			      <a class="left carousel-control" href="#galleryCarousel-mobile" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			      <a class="right carousel-control" href="#galleryCarousel-mobile" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			    </div><!-- /.carousel -->
			</div>		    
		</div>
		

		

	 
	</div>
</div>



<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->

	<!-- LOGO -->
	<div class="container texture0">
		<div class="col-xs-10 col-xs-offset-1">
			<br>	
			<img src="siteImg/logo.png" class="img-responsive"/>	
		</div>	
	</div>
	
	<!-- NAV -->
	<div class="container texture0">
		<div class="row">
		<div class="row">
			<nav class="cl-effect-1">
				<div class="col-xs-2 centerText">			
					<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
				</div>
				<div class="col-xs-2  centerText">			
					<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
				</div>			
				<div class="col-xs-4  centerText">			
					<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
				</div>	
				<div class="col-xs-2  centerText">			
					<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
				</div>
				<div class="col-xs-2  centerText">			
					<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
				</div>
				<br><br>		
			</nav>
		</div>	
		</div>		
	</div>


	<!-- CAROUSEL -->
	<div class="container">
		<div class="row">
		    <div id="myCarousel" class="carousel slide" data-ride="carousel">

		      <div id="mainGallery" class="carousel-inner">
		        


		      </div>
		      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		    </div><!-- /.carousel -->
		</div>		    
	</div>

	

	

	
</div>



		<!-- CONTACT -->
      	<div class="container hidden-md hidden-lg">
	      	
	      		<div class="row texture0">
	      			<div class="col-xs-12 centerText">
		      				<br>
		       		 			<h3>Have a question or a comment?</h3>
		       		 				 		
	       		 	</div>
	       		</div>
	       		
	       		<!--
	       		<div class="row hidden-md hidden-lg">
	       			<div class="col-xs-10 col-xs-offset-1 centerText">
      				<br>
       		 			<img src="siteImg/self.jpg" class="img-responsive img-rounded dropShadow" />
       		 		<br>
       		 		</div>	       				       				       			
	       		</div>
	       		-->
	       		
	       		<div class="row texture0">
	       		 	<div class="col-xs-12">

				            <section id="formData" class="">
						
						
								
				                <div class="col-xs-12 ">
				                	
				                	<h4 class="centerText">Great!  I look forward to hearing from you!</h4>
				                	<br><br>
				                    <form id="contactForm"  class="form-horizontal">
				
				                        <fieldset>
				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Email address</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <input id="iEmail" type="text" class="form-control" name="email" placeholder='required' />
				                                </div>
				                            </div>
				                            				                        	
											<div class="form-group row">
				                                <label class="col-lg-3 col-xs-3 control-label">Name</label>
				                                <div class="col-lg-7 col-xs-8" >
				                                    <input id="iName" type="text" class="form-control" name="name" placeholder='optional'/>
				                                </div>
											</div>

				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Contact number</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <input id="iContact" type="text" class="form-control" name="contact"  placeholder='optional'/>
				                                </div>
				                            </div>
				                            
				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Question or comment</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <textarea id="iContent" class="form-control" name="content" >
				                                    </textarea>
				                                </div>
				                            </div>				                            
				                        </fieldset>
										<br>
				                        <div class="form-group">
				                            <div class="col-xs-12">
				                                <button id="sendBtn" type="submit" onclick="checkToSend()" class="btn brown col-xs-12 "><b>Submit</b></button>
				                            </div>
				                        </div>
				                        <br>
				                        
				                    </form>
				                </div>
				            </section>

				            <section id="thankYou" class="hidden">
				            		 <div class="col-xs-12 ">
				            		 	<br><br>
											<p class="lead">Your email has been sent!</p>
											<p>We will get back to you as soon as we can.  Thank you for your interest.</p>	
				            		</div>            	
				            </section>
	       		 	</div>
	       		</div>
	    	
	    	
   		</div>
   		
   		




		<!-- FOOTER -->
		<div class="container texture0">		
			<br>
				<div class="row">
						
					<div class="col-xs-12 centerText">			
						<a href="https://www.facebook.com/angie.clark.7771"><img src="siteImg/facebookIcon.png" href=""/></a>
					</div>	
												
				</div>
				<br>		
		</div>



<script>
	
		function beforeSend(){
			
         	$('#formData').addClass('hidden');
         	$('#thankYou').removeClass('hidden');   			

			var captureName		= $('#iName').val();
			var captureEmail	= $('#iEmail').val();
			var captureContact	= $('#iContact').val();	 	
			var captureContent	= $('#iContent').val();
	
	         $.ajax({ url: 'php/phpFunctions.php',
	                 data: {action: 'sendEmail', name: captureName, email: captureEmail, contact: captureContact, content: captureContent},	                 
	                 type: 'post',
	                 success: function(data) {
	                 	$('#formData').addClass('hidden');
	                 	$('#thankYou').removeClass('hidden');          					
						callback(true, data);	
	                 },
					 error: function(data){
					 	alert("Server error.  Please try again.");
						callback(false, data);   
					 }
	        });				
			
			
		}
		


		function formControl(){
		// LOGIN VALIDATION
			$('#contactForm').bootstrapValidator({
				message: 'This value is not valid',
				submitHandler: function(){ beforeSend();	},
				live: 'enabled', 
				fields: {
					email: {
						message: '*',
						validators: {
							notEmpty: {
								message: '*'
							},
							emailAddress: {
								message: '*'
							}
						}
					}
				}
			});	
		}
		
		
	function fillGallery(){
		
		var galleryData = JSON.parse(loadVar("getGallery0")) 
		
		 
		for (var i = 0; i < galleryData.length; i++){
		
			 var shellContainer =	'<div class="item">';
			 var shellImage		= 	'<img src="' + galleryData[i][0] + '" class="img-responsive">';
			 var shellCaption	=	'<div class="container"><div class="carousel-caption">';
			 var shellCaptionMsg = 	"";
			 var shellClosure	= 	'</div></div></div>';		 
			 var buildString = shellContainer + shellImage + shellCaption + shellCaptionMsg + shellClosure;		 
			 $('#mainGallery').append(buildString);
			 $('#mainGallery-mobile').append(buildString);
		}
		 	 
		$('#mainGallery').find('div:first-child').addClass("active");
		$('#mainGallery-mobile').find('div:first-child').addClass("active");

		
	}

	
	///// INIT
	//
		formControl();
		deleteVar("getGallery0");
		
			// GALLERY DOES NOT EXIST; CALL PHP
			if(!loadVar("getGallery0")) {
				callPHPFunction('getGallery0', function(returnState, data){		
					
					
					if (returnState){								
						saveVar("getGallery0", (data) )
						fillGallery();
					}
					else{
							
					}
						
				});					
			}
			// GALLERY ALREADY EXIST; CONTINUE
			else{
				fillGallery();
			};
			
	//
	/////

</script>
