<div id="servicesPage">

	
	<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
		<div class="minMobile">
			
			<!-- LOGO -->
			<div class="container texture0">
				<div class="col-xs-10 col-xs-offset-1">
					<br>	
					<img src="siteImg/logo.png" class="img-responsive"/>
					<br>	
				</div>	
			</div>
			
			
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>	
			</div>		
		</div>	
		
		<!-- CONTENT -->
	    <div class="container">
	      
		     <div class="container">
		      <div class="row white">
		        <div class="col-xs-12">
		          <h2>{{point1_header}}</h2>
		          <br> 
		          <img src="siteImg/services/1.jpg" class="img-rounded img-responsive dropShadow" />
		          <br>
		          <p>{{point1_content}}</p>
		          <h3>{{point1_price}}</h3>
		        </div>
		       <br>
		       <hr>
		       <br>
		        <div class="col-xs-12">
		          <h2>{{point2_header}}</h2>
		          <br>
		          <img src="siteImg/services/2.jpg" class="img-rounded img-responsive dropShadow" />
		          <br>
		          <p>{{point2_content}}</p>
		          <h3>{{point2_price}}</h3>
		       </div>
		       <br>
		       <hr>
		       <br>
		        <div class="col-xs-12">
		          <h2>{{point3_header}}</h2>
		          <br>
		          <img src="siteImg/services/3.jpg" class="img-rounded img-responsive dropShadow" />
		          <br>          
		          <p>{{point3_content}}</p>
		          <h3>{{point3_price}}</h3>
		        </div>
		      </div>
			</div>
		<br>
		<hr>
		<br>	
	
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row white">
	        <div class="col-md-12">
	          <h2>{{point4_header}}</h2>
	          <br> 
	          <img src="siteImg/services/4.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point4_content}}</p>
	          <h3>{{point4_price}}</h3>
	        </div>
	       <br>
	       <hr>
	       <br>	        
	        <div class="col-md-12">
	          <h2>{{point5_header}}</h2>
	          <br>
	          <img src="siteImg/services/5.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point5_content}}</p>
	          <h3>{{point5_price}}</h3>
	       </div>
	       <br>
	       <hr>
	       <br>	       
	        <div class="col-md-12">
	          <h2>{{point6_header}}</h2>
	          <br>
	          <img src="siteImg/services/6.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>          
	          <p>{{point6_content}}</p>
	          <h3>{{point6_price}}</h3>
	        </div>
	      </div>
		
			<br><br><br>
			
	
		 
		</div>
		</div>
		

			
		</div>
	</div>
	
	
	<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->
		
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>	
			</div>	
		</div>
		
		
	
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-2 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-4  centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>			
		</div>
	 	
	 	
	    
		<br><br>
		<!-- CONTENT -->
	    <div class="container">
	      
	      <div class="row white">
	        <div class="col-md-4">
	          <h2>{{point1_header}}</h2>
	          <br> 
	          <img src="siteImg/services/1.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point1_content}}</p>
	          <h3>{{point1_price}}</h3>
	        </div>
	        <div class="col-md-4 colorSchemeWhite brown">
	          <h2>{{point2_header}}</h2>
	          <br>
	          <img src="siteImg/services/2.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point2_content}}</p>
	          <h3>{{point2_price}}</h3>
	       </div>
	        <div class="col-md-4">
	          <h2>{{point3_header}}</h2>
	          <br>
	          <img src="siteImg/services/3.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>          
	          <p>{{point3_content}}</p>
	          <h3>{{point3_price}}</h3>
	        </div>
	      </div>
		
		<br>
		<hr>
		<br>	
	
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row white">
	        <div class="col-md-4 colorSchemeWhite brown">
	          <h2>{{point4_header}}</h2>
	          <br> 
	          <img src="siteImg/services/4.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point4_content}}</p>
	          <h3>{{point4_price}}</h3>
	        </div>
	        <div class="col-md-4">
	          <h2>{{point5_header}}</h2>
	          <br>
	          <img src="siteImg/services/5.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>
	          <p>{{point5_content}}</p>
	          <h3>{{point5_price}}</h3>
	       </div>
	        <div class="col-md-4 colorSchemeWhite brown">
	          <h2>{{point6_header}}</h2>
	          <br>
	          <img src="siteImg/services/6.jpg" class="img-rounded img-responsive dropShadow" />
	          <br>          
	          <p>{{point6_content}}</p>
	          <h3>{{point6_price}}</h3>
	        </div>
	      </div>
	
	    
	
		<br><br><br>

	</div>

	</div>


</div>

		<!-- CONTACT -->
      	<div class="container">
	      	
	      		<div class="row texture0">
	      			<div class="col-xs-12 centerText">
		      				<br>
		       		 			<h3>Have a question or a comment?</h3>
		       		 				 		
	       		 	</div>
	       		</div>
	       		
	       		<!--
	       		<div class="row hidden-md hidden-lg">
	       			<div class="col-xs-10 col-xs-offset-1 centerText">
      				<br>
       		 			<img src="siteImg/self.jpg" class="img-responsive img-rounded dropShadow" />
       		 		<br>
       		 		</div>	       				       				       			
	       		</div>
	       		-->
	       		
	       		<div class="row texture0">
	       		 	<div class="col-xs-12">

				            <section id="formData" class="">
						
						
								
				                <div class="col-xs-12 ">
				                	
				                	<h4 class="centerText">Great!  I look forward to hearing from you!</h4>
				                	<br><br>
				                    <form id="contactForm"  class="form-horizontal">
				
				                        <fieldset>
				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Email address</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <input id="iEmail" type="text" class="form-control" name="email" placeholder='required' />
				                                </div>
				                            </div>
				                            				                        	
											<div class="form-group row">
				                                <label class="col-lg-3 col-xs-3 control-label">Name</label>
				                                <div class="col-lg-7 col-xs-8" >
				                                    <input id="iName" type="text" class="form-control" name="name" placeholder='optional'/>
				                                </div>
											</div>

				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Contact number</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <input id="iContact" type="text" class="form-control" name="contact"  placeholder='optional'/>
				                                </div>
				                            </div>
				                            
				                            <div class="form-group">
				                                <label class="col-lg-3 col-xs-3 control-label">Question or comment</label>
				                                <div class="col-lg-7 col-xs-8">
				                                    <textarea id="iContent" class="form-control" name="content" >
				                                    </textarea>
				                                </div>
				                            </div>				                            
				                        </fieldset>
										<br>
				                        <div class="form-group">
				                            <div class="col-xs-12">
				                                <button id="sendBtn" type="submit" onclick="checkToSend()" class="btn brown col-xs-12 "><b>Submit</b></button>
				                            </div>
				                        </div>
				                        <br>
				                        
				                    </form>
				                </div>
				            </section>

				            <section id="thankYou" class="hidden">
				            		 <div class="col-xs-12 ">
				            		 	<br><br>
											<p class="lead">Your email has been sent!</p>
											<p>We will get back to you as soon as we can.  Thank you for your interest.</p>	
				            		</div>            	
				            </section>
	       		 	</div>
	       		</div>
	    	
	    	
   		</div>
   		
   		
		<!-- FOOTER -->
		<div class="container texture0">		
			<div class="row">
				<br>
				<div class="col-xs-4 col-xs-offset-4 centerText">			
					<a href="https://www.facebook.com/angie.clark.7771"><img src="siteImg/facebookIcon.png" href=""/></a>
					<br><br>		
				</div>					
		</div>
		   		


<script>

		function beforeSend(){
			
         	$('#formData').addClass('hidden');
         	$('#thankYou').removeClass('hidden');   			

			var captureName		= $('#iName').val();
			var captureEmail	= $('#iEmail').val();
			var captureContact	= $('#iContact').val();	 	
			var captureContent	= $('#iContent').val();
	
	         $.ajax({ url: 'php/phpFunctions.php',
	                 data: {action: 'sendEmail', name: captureName, email: captureEmail, contact: captureContact, content: captureContent},	                 
	                 type: 'post',
	                 success: function(data) {
	                 	$('#formData').addClass('hidden');
	                 	$('#thankYou').removeClass('hidden');          					
						callback(true, data);	
	                 },
					 error: function(data){
					 	alert("Server error.  Please try again.");
						callback(false, data);   
					 }
	        });				
			
			
		}
		


		function formControl(){
		// LOGIN VALIDATION
			$('#contactForm').bootstrapValidator({
				message: 'This value is not valid',
				submitHandler: function(){ beforeSend();	},
				live: 'enabled', 
				fields: {
					email: {
						message: '*',
						validators: {
							notEmpty: {
								message: '*'
							},
							emailAddress: {
								message: '*'
							}
						}
					}
				}
			});	
		}
		
		
		
		// INIT 
		formControl();
		
		angular.bootstrap(document);	
				var scope = angular.element( $('#servicesPage') ).scope(); 
				
				scope.point1_header 	= "Weddings";
				scope.point1_content	= "Full coverage of the wedding from the moment you get ready till the bouquet toss, two photographers to make sure every amazing moment of your special day is captured, a disc/usb with all your edited images and the rights to make prints, an engagement shoot plus a free day after shoot! ";
				scope.point1_price		= "$1250";					
				
				scope.point5_header		= "Family";
				scope.point5_content	= "1 to 1.5 hour shoot, disc/usb with all your edited images and the rights to make prints. 1-2 locations of your choosing.";
				scope.point5_price		= "$230";				
											
				scope.point2_header		= "Couples";	
				scope.point2_content	= "1 to 1.5 hour shoot, disc/usb with all your edited images and the rights to make prints. 1-2 locations of your choosing.";	
				scope.point2_price		= "$175";
				
				scope.point3_header		= "Maternity";
				scope.point3_content	= "1 to 1.5 hour shoot, disc/usb with all your edited images and the rights to make prints. 1-2 locations of your choosing.";
				scope.point3_price		= "$175";		
				
				scope.point4_header		= "Senior Portraits";
				scope.point4_content	= "1 to 1.5 hour shoot, disc/usb with all your edited images and the rights to make prints. 1-2 locations of your choosing.";
				scope.point4_price		= "$300";
						
				scope.point6_header		= "Little Ones";
				scope.point6_content	= "1 location of your choosing. (3,9 and 12 month old packaged shoots are available so you don’t miss any moment of your babies growth. Contact for more details).";
				scope.point6_price		= "$75";						
				
				scope.$digest();	
		
		///////////
	
</script>
