<div id="testiPage">

	
	<div class="visible-xs visible-sm hidden-md hidden-lg"> 		<!-- MOBILES -->
		<div class="minMobile">
			
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>
				<br>	
			</div>	
		</div>
			
		<!-- NAV -->
		<div class="container texture0">
			
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-12 centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-12  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>	
			
		</div>	
		
		<!-- CONTENT -->
	    <div class="container">
	    	<br>
	      <!-- Example row of columns -->
	      <div class="row white">
	      
	        <div class="col-xs-12">
	        		<div class="row">
		        		<div class="col-xs-6 centerText">
				          <h2>{{point1_header}}</h2>
				        </div>
				        <div class="col-xs-6">
			        		<div class="col-xs-10 col-xs-offset-1">
			        			<br>
			        			<img src="siteImg/testi/1.jpg" class="img-rounded img-responsive dropShadow" />
			        			<br>
			        		</div>			        	
					        	
				        </div>
			        </div>
			        <div class="row">
				        <div class="col-xs-10 col-xs-offset-1">
				          <br> 
				          <br>
				          <p>{{point1_content}}</p>
		          		</div>
					</div>          		
	        </div>
	      
	      </div>
	      <br><br>
	      <div class="row texture0">
	      	
	        		<div class="row">
	
				        <div class="col-xs-6">
			        		<div class="col-xs-10 col-xs-offset-1">
			        			<br>
			        			<img src="siteImg/testi/2.jpg" class="img-rounded img-responsive dropShadow" />
			        			<br>
			        		</div>			        		
				        </div>
		        		<div class="col-xs-6 centerText">
				          <h2>{{point2_header}}</h2>
				        </div>			        
			        </div>
			        <div class="row">
				        <div class="col-xs-10 col-xs-offset-1">
				          <br> 
				          <br>
				          <p>{{point2_content}}</p>
				         	
		          		</div>
					</div>   
	      
	      </div>  
	      <div class="row white">
	      
	        <div class="col-xs-12">
	        		<div class="row">
		        		<div class="col-xs-6 centerText">
				          <h2>{{point3_header}}</h2>
				        </div>
				        <div class="col-xs-6">
			        		<div class="col-xs-10 col-xs-offset-1">
			        			<br>
			        			<img src="siteImg/testi/3.jpg" class="img-rounded img-responsive dropShadow" />
			        			<br>
			        		</div>			        	
					        	
				        </div>
			        </div>
			        <div class="row">
				        <div class="col-xs-10 col-xs-offset-1">
				          <br> 
				          <br>
				          <p>{{point3_content}}</p>
		          		</div>
					</div>          		
	        </div>
	      
	      </div>
		 
		</div>
		
			<!-- FOOTER -->
			<div class="container texture0">		
					<br>
						<div class="col-xs-12 centerText">			
							<img src="siteImg/facebookIcon.png" />
						</div>	
					<br>		
			</div>	
		
		</div>
	</div>
	
	
	
	<div class="hidden-xs hidden-sm visible-md visible-lg"> 		<!-- DESKTOP / TABLET -->
		
		<!-- LOGO -->
		<div class="container texture0">
			<div class="col-xs-10 col-xs-offset-1">
				<br>	
				<img src="siteImg/logo.png" class="img-responsive"/>	
			</div>	
		</div>
		
		
	
		<!-- NAV -->
		<div class="container texture0">
			<div class="row">
				<nav class="cl-effect-1">
					<div class="col-xs-2 centerText">			
						<a class="btn noPadding" onclick="changeHash('home')">HOME</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('gallery')">GALLERY</a>
					</div>			
					<div class="col-xs-4  centerText">			
						<a class="btn noPadding" onclick="changeHash('about')">MEET THE PHOTOGRAPHER</a>
					</div>	
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('testamonials')">TESTAMONIALS</a>
					</div>
					<div class="col-xs-2  centerText">			
						<a class="btn noPadding" onclick="changeHash('services')">SERVICES</a>
					</div>
					<br><br>		
				</nav>
			</div>		
		</div>
	 	
	 	
	    
	
		
		<br><br>
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row white">
	      
	        <div class="col-md-12">
	        	<div class="col-xs-4">
	        		<div class="col-xs-10 col-xs-offset-1">
	        			<br>
	        			<img src="siteImg/testi/1.jpg" class="img-rounded img-responsive dropShadow" />
	        			<br>
	        		</div>	
	        	</div>
	        	<div class="col-xs-8">
			          <h2>{{point1_header}}</h2>
			          <br> 
			          <br>
			          <p>{{point1_content}}</p>

	          </div>
	        </div>
	      
	      </div>
	      <br><br>
	      <div class="row texture0">
	      	
	        <div class="col-md-12">
	        	<div class="col-xs-8">
			          <h2>{{point2_header}}</h2>
			          <br> 
			          <br>
			          <p>{{point2_content}}</p>

	          </div>        	
	        	<div class="col-xs-4">
	        		<div class="col-xs-10 col-xs-offset-1">
	        			<br>
	        			<img src="siteImg/testi/2.jpg" class="img-rounded img-responsive dropShadow" />
	        			<br>
	        		</div>	
	        	</div>
	
	        </div>
	      
	      </div>  
	      <br><br> 
	      <div class="row white">
	      
	        <div class="col-md-12">
	        	<div class="col-xs-4">
	        		<div class="col-xs-10 col-xs-offset-1">
	        			<br>
	        			<img src="siteImg/testi/3.jpg" class="img-rounded img-responsive dropShadow" />
	        			<br>
	        		</div>	
	        	</div>
	        	<div class="col-xs-8">
			          <h2>{{point3_header}}</h2>
			          <br> 
			          <br>
			          <p>{{point3_content}}</p>

	          </div>
	        </div>
	      
	      </div>
	      <br><br>	         

	    
		<br><br><br>
		<!-- FOOTER -->
		<div class="container texture0">		
			<div class="row">
				<br>
				<div class="col-xs-4 col-xs-offset-4 centerText">			
					<a href="https://www.facebook.com/angie.clark.7771"><img src="siteImg/facebookIcon.png" href=""/></a>
					<br><br>		
				</div>					
		</div>
		
	</div>




</div>

<script>

	angular.bootstrap(document);	
			var scope = angular.element( $('#testiPage') ).scope(); 

			scope.point1_header 	= "The Cowley’s";
			scope.point1_content	= "Angie is a talented, up and coming photographer.  Or should I say artist.  She has a great eye for perspective and lighting.  She has taken our photos on two different occasions and we will call upon her talents again in the future.  She makes the session relaxing and fun.";
						
			scope.point2_header		= "Natasha & David Germany";	
			scope.point2_content	= "We have had the pleasure of being photographed by Angie on several occasions; clearly we are repeat customers, who continue to return due to her unmatched quality and skills. Angie doesn’t simply take a photo; she captures a memory, a unique moment in your life story. Angie has raw and authentic talent that she utilizes to make clients feel comfortable and natural.  She is incredibly innovative in her photographic techniques and visions, which she applies to every occasion to create distinctive photos, which will last a lifetime. Thank you Angie for capturing every moment to its fullest!";	
			
			scope.point3_header		= "The McCullough\'s";
			scope.point3_content	= "We have used Arclyte Imagery for our photos for the last 5 years and we wouldn't go anywhere else. We absolutely love her work and the way she can always capture us perfectly. She always seems to get the photos that match our personalities so well. We love how hard she works on our photos and yet still gets us our photos so quickly. You would be crazy not to use her for your next photo event.";
			scope.$digest();
	
</script>
