

        <script src="plugins/3dGallery/js/modernizr.custom.53451.js"></script>  	<!-- *REQUIRED FOR 3DGALLERY -->



	<div class="container">
			<hr>
			<h2>3D Gallery (Not Responsive)</h2>
			<h4>Resolution set at 480x260 per picture, but can be adjusted as needed.  Pictures should all roughly be the same size.  A subtext can be included.</h4>
			<hr>
			<br>	
	</div>	


		
		<div class="container">


			
			<div class="container">
				<section id="dg-container" class="dg-container">
					<div class="dg-wrapper">
						<a><img src="plugins/3dGallery/images/1.jpg" alt="image01"><div>SubText 1</div></a>
						<a><img src="plugins/3dGallery/images/2.jpg" alt="image02"><div>SubText 2</div></a>
						<a><img src="plugins/3dGallery/images/3.jpg" alt="image03"><div>SubText 3</div></a>
						<a><img src="plugins/3dGallery/images/4.jpg" alt="image04"><div>SubText 4</div></a>
						<a><img src="plugins/3dGallery/images/5.jpg" alt="image05"><div>SubText 5</div></a>
						<a><img src="plugins/3dGallery/images/6.jpg" alt="image06"><div>SubText 6</div></a>
						<a><img src="plugins/3dGallery/images/7.jpg" alt="image07"><div>SubText 7</div></a>
						<a><img src="plugins/3dGallery/images/8.jpg" alt="image08"><div>SubText 8</div></a>
						<a><img src="plugins/3dGallery/images/9.jpg" alt="image09"><div>SubText 9</div></a>
						<a><img src="plugins/3dGallery/images/10.jpg" alt="image10"><div>SubText 10</div></a>
						<a><img src="plugins/3dGallery/images/11.jpg" alt="image11"><div>SubText 11</div></a>
						<a><img src="plugins/3dGallery/images/12.jpg" alt="image12"><div>SubText 12</div></a>
					</div>
					<nav>	
						<span class="dg-prev"></span>
						<span class="dg-next"></span>
					</nav>
				</section>
			</div>
		
			<br><br><br><br><br><br>
			<div class="container">
					<hr>
					<h2>3D Gallery (Not Responsive) + Lightbox</h2>
					<h4>Lightbox can be integrated and used for any kind of image, including this gallery.</h4>
					<hr>
					<br>	
			</div>			
			
			<div class="container">
				<section id="dg-container2" class="dg-container">
					<div class="dg-wrapper">
						<a class="group1" href="plugins/3dGallery/images/1.jpg"><img src="plugins/3dGallery/images/1.jpg" alt="image01"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/2.jpg"><img src="plugins/3dGallery/images/2.jpg" alt="image02"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/3.jpg"><img src="plugins/3dGallery/images/3.jpg" alt="image03"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/4.jpg"><img src="plugins/3dGallery/images/4.jpg" alt="image04"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/5.jpg"><img src="plugins/3dGallery/images/5.jpg" alt="image05"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/6.jpg"><img src="plugins/3dGallery/images/6.jpg" alt="image06"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/7.jpg"><img src="plugins/3dGallery/images/7.jpg" alt="image07"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/8.jpg"><img src="plugins/3dGallery/images/8.jpg" alt="image08"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/9.jpg"><img src="plugins/3dGallery/images/9.jpg" alt="image09"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/10.jpg"><img src="plugins/3dGallery/images/10.jpg" alt="image10"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/11.jpg"><img src="plugins/3dGallery/images/11.jpg" alt="image11"><div>SubText</div></a>
						<a class="group1" href="plugins/3dGallery/images/12.jpg"><img src="plugins/3dGallery/images/12.jpg" alt="image12"><div>SubText</div></a>
					</div>
					<nav>	
						<span class="dg-prev"></span>
						<span class="dg-next"></span>
					</nav>
				</section>
			</div>			
			
        </div>
		<br><br><br><br><br><br>
		<br><br><br><br><br><br>
		
		<script>
			$().ready(function() {	
			
				$('#dg-container').gallery();
				$('#dg-container2').gallery();
				setLightbox();
				
			});		
		
	
			
			
			function setLightbox(){
				//Examples of how to assign the Colorbox event to elements
				$(".group1").colorbox({rel:'group1'});
				$(".group2").colorbox({rel:'group2', transition:"fade"});
				$(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
				$(".group4").colorbox({rel:'group4', slideshow:true});
				$(".ajax").colorbox();
				$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
				$(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
				$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});

				
				$('.non-retina').colorbox({rel:'group5', transition:'none'})
				$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
				
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});			
			}		
		
		
		</script>