
<div class="container">
			<h2>Image Cropping with Cropping</h2>
			<h4>Crop an image and copy it into a <code>canvas</code> element.</h4>
			<hr>
			<br>	

</div>


	



<hr>

<div class="container well">
	<div class="row">
		<div class="col-xs-8">
			<input id="queryFile" type="file" />
			<br>

			<div id="previewContainer" class="col-xs-12">
				
			</div>	
			
		<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<form id="coords"	class="coords" class="form-control">

							<label>X1 <input type="text" size="8" id="x1" name="x1" /></label>
							<label>Y1 <input type="text" size="8" id="y1" name="y1" /></label>
							<label>X2 <input type="text" size="8" id="x2" name="x2" /></label>
							<label>Y2 <input type="text" size="8" id="y2" name="y2" /></label>
							<label>W&nbsp  <input type="text" size="8" id="w"  name="w"  /></label>&nbsp&nbsp
							<label>H  <input type="text" size="8" id="h"  name="h"  /></label>
							<hr>
							
							</form>
					</div>
													
				</div>
				  
			</div>				
		</div>
		
		
	<div class="col-xs-4">
		
		<div class="col-xs-12 well">
		<label> COMPLETE COPY </label>
		<hr>
			<canvas id="wholeCanvas" class="centerDiv" style="max-width: 100%; margin-left: auto; margin-right: auto; ">
			
			
			</canvas> 	
		</div>
		
		
		<div class="col-xs-12 well">
		<label> LIVE CANVAS </label>
		
			  <div class="checkbox">
				<label>
				  <input id="iPreview" type="checkbox"> Live Preview
				</label>
			  </div>		
		<hr>
			<canvas id="liveCanvas" class="centerDiv" style="max-width: 100%; margin-left: auto; margin-right: auto; ">
			
			
			</canvas> 


			</div>
		
		
	</div>		
		
	</div>
	

</div>


<br><br>




<br><br><br>
<br><br><br><br><br><br>

<script>


var widthRatio 
var heightRatio
	



    $("#queryFile").change(function(){
		readURL(this);
    });

    function readURL(input) {
		
        if (input.files && input.files[0]) {
            var reader = new FileReader();
			
			
            reader.onload = function (e) {
				
				var image	= new Image();
				image.src 	= e.target.result;
				
				// CLEAR ALL CANVAS
				clearCanvas($('#wholeCanvas'))
				clearCanvas($('#liveCanvas'))				
				clearCoords()			
				
				// REMOVE AND BUILD IMAGE
				$('#previewContainer').empty();	
				var buildString = '<img id="imagePreview" src=" ' + image.src + ' " class="img-responsive" /><button class="btn metro colorSchemeA" onclick="startCrop()">CROP</button> <button class="btn metro colorSchemeA endCrop" onclick="endCrop()">FINISH</button>'	
				$('#previewContainer').append(buildString)
				
				
				image.onload = function(){
						
						// ASPECT RATIO CORRELATION
						widthRatio  = this.width  / $('#imagePreview').width()
						heightRatio = this.height / $('#imagePreview').height()															
					
						// START CROP
						$('#imagePreview').addClass('jCrop')
						
						// SAVE ORIGINAL IMAGE
						rootStorage.set("queryResults_mainImage", e.target.result)						// SAVES CURRENT IMAGE			
						
						// DRAW TO CANVAS
						drawToCanvas(  e.target.result,  $('#wholeCanvas'), 0, 0, image.width, image.height );

						
				
				}

            }
            
            reader.readAsDataURL(input.files[0]);
        }
		
    }

	
	function drawToCanvas(imageData, canvasId, sx, sy, sw, sh){
		var image = new Image();
		image.src = imageData;
		image.onload = function(){
		
		
			var theCanvas = canvasId[0],
				context = theCanvas.getContext('2d')			
					theCanvas.width = sw
					theCanvas.height = sh
					context.drawImage(this, sx,sy, sw, sh, 0, 0, sw, sh);
		}
		
		
	}


			

	function startCrop(){
		
		var jcrop_api;

		$('.jCrop').Jcrop({
		  bgFade:     true,
		  bgOpacity: .2,		
		  onChange:   showCoords,
		  onSelect:   showCoords,
		  onRelease:  clearCoords
		},function(){
		  jcrop_api = this;
		});
		
		$('.endCrop').click(function(){
			endCrop();
		})

		$('#coords').on('change','input',function(e){
		  var x1 = Math.round($('#x1').val() * widthRatio),
			  x2 = Math.round($('#x2').val() * widthRatio),
			  y1 = Math.round($('#y1').val() * heightRatio),
			  y2 = Math.round($('#y2').val() * heightRatio);
			jcrop_api.setSelect([x1,y1,x2,y2]);
		  
		  
		});
		
	  // Simple event handler, called from onChange and onSelect
	  // event handlers, as per the Jcrop invocation above
		function endCrop(){
		
		drawToCanvas(  rootStorage.get("queryResults_mainImage"),  $('#liveCanvas'), $('#x1').val(), $('#y1').val(), $('#w').val(), $('#h').val() );					  
		// REMOVE AND BUILD IMAGE

			clearCoords();
				jcrop_api.destroy()	

				
		$('#previewContainer').empty();	
		var buildString = '<img id="imagePreview" src=" ' + rootStorage.get("queryResults_mainImage")	 + ' " class="img-responsive" /><button class="btn metro colorSchemeA" onclick="startCrop()">CROP</button> <button class="btn metro colorSchemeA endCrop" onclick="endCrop()">FINISH</button>'	
		$('#previewContainer').append(buildString)
		$('#imagePreview').addClass('jCrop')
		
				
		}			  
	  
		
	}	
	
	
	function clearCanvas(canvasId){
		var theCanvas = canvasId[0],
			context = theCanvas.getContext('2d')	
			
			context.clearRect(0, 0, theCanvas.width, theCanvas.height);
     
	}
		
	function showCoords(c)
	  {
		$('#x1').val(	Math.round(c.x * widthRatio) 	);
		$('#y1').val(	Math.round(c.y * heightRatio)	);
		$('#x2').val(	Math.round(c.x2 * widthRatio)	);
		$('#y2').val(	Math.round(c.y2 * heightRatio)	);
		$('#w').val(	Math.round(c.w * widthRatio)	);
		$('#h').val(	Math.round(c.h * heightRatio)	);

		
		// LIVE PREVIEW //  ENABLE TO PREVIEW
		if($("#iPreview").is(':checked')){		
			 setTimeout(function(){		
				drawToCanvas(  rootStorage.get("queryResults_mainImage"),  $('#liveCanvas'), $('#x1').val(), $('#y1').val(), $('#w').val(), $('#h').val() );					  
			}, 50);
		}
		
	};

	function clearCoords()
	  {
		$('#coords input').val('');
	};	



</script>