
	<div class="container">
			<hr>
			<h2>Animated Links</h2>
			<h4>Check me out.  I'm fancy.</h4>
			<hr>
			<br>	
	</div>			
		
		<div class="container">
			<!-- Top Navigation -->

			<section class="colorSchemeBlack">
				<nav class="cl-effect-1">
					<p>1</p>
					<a href="#">Wafture</a>
					<a href="#">Sumptuous</a>
					<a href="#">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-2">
					<p>2</p>
					<a href="#"><span data-hover="Ratatouille">Ratatouille</span></a>
					<a href="#"><span data-hover="Lassitude">Lassitude</span></a>
					<a href="#"><span data-hover="Murmurous">Murmurous</span></a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-3">
					<p>3</p>
					<a href="#">Palimpsest</a>
					<a href="#">Ineffable</a>
					<a href="#">Lilt</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-4">
					<p>4</p>
					<a href="#">Woebegone</a>
					<a href="#">Lassitude</a>
					<a href="#">Murmurous</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-5">
					<p>5</p>
					<a href="#"><span data-hover="Seraglio">Seraglio</span></a>
					<a href="#"><span data-hover="Sumptuous">Sumptuous</span></a>
					<a href="#"><span data-hover="Scintilla">Scintilla</span></a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-6">
					<p>6</p>
					<a href="#">Umbrella</a>
					<a href="#">Ineffable</a>
					<a href="#">Lilt</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-7">
					<p>7</p>
					<a href="#">Languor</a>
					<a href="#">Lassitude</a>
					<a href="#">Murmurous</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-8">
					<p>8</p>
					<a href="#">Imbue</a>
					<a href="#">Sumptuous</a>
					<a href="#">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-9">
					<p>9</p>
					<a href="#"><span>Gossamer</span><span>Sumptuous Heart</span></a>
					<a href="#"><span>Ineffable</span><span>Evanescent Life</span></a>
					<a href="#"><span>Chatoyant</span><span>Assemblage Love</span></a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-10">
					<p>10</p>
					<a href="#" data-hover="Seraglio"><span>Seraglio</span></a>
					<a href="#" data-hover="Sumptuous"><span>Sumptuous</span></a>
					<a href="#" data-hover="Scintilla"><span>Scintilla</span></a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-11">
					<p>11</p>
					<a href="#" data-hover="Desultory">Desultory</a>
					<a href="#" data-hover="Sumptuous">Sumptuous</a>
					<a href="#" data-hover="Scintilla">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-12">
					<p>12</p>
					<a href="#">Chatoyant</a>
					<a href="#">Ineffable</a>
					<a href="#">Efficiency</a>
					<br><br><br>
				</nav>
				
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-13">
					<p>13</p>
					<a href="#">Beleaguer</a>
					<a href="#">Lassitude</a>
					<a href="#">Murmurous</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-14">
					<p>14</p>
					<a href="#">Ailurophile</a>
					<a href="#">Sumptuous</a>
					<a href="#">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-15">
					<p>15</p>
					<a href="#" data-hover="Desultory">Desultory</a>
					<a href="#" data-hover="Sumptuous">Sumptuous</a>
					<a href="#" data-hover="Scintilla">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-16">
					<p>16</p>
					<a href="#" data-hover="Languor">Languor</a>
					<a href="#" data-hover="Murmurous">Murmurous</a>
					<a href="#" data-hover="Lassitude">Lassitude</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-17">
					<p>17</p>
					<a href="#" data-hover="Languor">Languor</a>
					<a href="#" data-hover="Murmurous">Murmurous</a>
					<a href="#" data-hover="Lassitude">Lassitude</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<nav class="cl-effect-18">
					<p>18</p>
					<a href="#" data-hover="Desultory">Desultory</a>
					<a href="#" data-hover="Sumptuous">Sumptuous</a>
					<a href="#" data-hover="Scintilla">Scintilla</a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeBlack">
				<nav class="cl-effect-19">
					<p>19</p>
					<a href="#"><span data-hover="Ratatouille">Ratatouille</span></a>
					<a href="#"><span data-hover="Lassitude">Lassitude</span></a>
					<a href="#"><span data-hover="Murmurous">Murmurous</span></a>

				</nav>
			</section>
			<section class="colorSchemeGray">
				<nav class="cl-effect-20">
					<p>20</p>
					<a href="#"><span data-hover="Beleaguer">Beleaguer</span></a>
					<a href="#"><span data-hover="Scintilla">Scintilla</span></a>
					<a href="#"><span data-hover="Chatoyant">Chatoyant</span></a>
					<br><br><br>
				</nav>
			</section>
			<section class="colorSchemeA">
				<p>21</p>
				<nav class="cl-effect-21">
					<a href="#">Chatoyant</a>
					<a href="#">Ineffable</a>
					<a href="#">Efficiency</a>
					<br><br><br>
				</nav>
			</section>
		</div><!-- /container -->
		
		
		
				<br><br><br><br><br>
		<br><br><br><br><br>