<div class="container">


			<h2>AJAX, Loading, and Modals </h2>
			<h4>All data is AJAXed and presented upon load.  Modals are dynamic and resize automatically.</h4>
			<hr>
			<br>
	
	<!-- SPLIT INTO SIDES -->
	<div class="row">
		
		<!-- LEFT SIDE -->
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<br><br>
			<!-- FILTER CATAGORIES -->
			<div class="row">
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10  well">
						<label>USERS</label>
						<hr>
						<div id="nameList">

						</div>
				
					</div>
			</div>
			<div class="row">
				<a class="btn metro colorSchemeA" data-toggle="modal" href="#newUserModal">		<span class="glyphicon glyphicon-user"></span> &nbsp Add New User </a>
			
			
			</div>			
		</div>
			<!-- END LEFT SIDE -->
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">	
			<br><br>
			<!-- FILTER CATAGORIES -->
			<div class="row">
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10  well pull-right">
						<label>STATISTICS</label>
						<hr>
						<div id="statDetails">

						</div>
				
					</div>
			</div>
			
		</div>
	</div>	
</div>









		
		<!--  MORE DATA -->
		<div id="resultSlide" style="display: none">
				<div class="container">
					<div class="row">
						<br><br><br>
							<div id="sideImage" class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
								<!-- FILLS HERE -->
							</div>			
						<br><br><br>
					</div>
					
					
						<div class="row">
							<br><br><br>
								<a class="btn metro colorSchemeA col-md-2" onclick="$.pageslide.close()">		<span class="glyphicon glyphicon-hdd"></span> &nbsp  Back   &nbsp</a>					
							<br><br><br>
						</div>
				
				</div>
		</div>
		
		<!-- EDIT USER MODAL -->
		<div id="editModal" class="modal fade black" tabindex="-1" data-width="760" style="display: none;">
		<form id="editForm">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Edit User</h4>
		  </div>
		  <div class="modal-body">
		  <div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group row">
						<input id="fName" name="fName" type="text" class="form-control" id="" placeholder="Enter first name"><br>									
					</div>
					<div class="form-group row">
						<input id="lName" name="lName" type="text" class="form-control" id="" placeholder="Enter last name"><br>
					</div>
					<div class="form-group row">
						<input id="email" name="email" type="text" class="form-control" id="" placeholder="Enter email"><br>
					</div>
					
					<div class="form-group row">
						<select id="accountType" name="accountType" class="form-control">
							<option value="none">Select an account type...</option>
							<option value="two">Option 2</option>
							<option value="three">Option 3</option>
							<option value="four">Option 4</option>
							<option value="five">Option 5</option>
						</select>	
					</div>
					
				
				</div>
			</div>
		  </div>
		  </div>
		  <div class="modal-footer">
		  
					<div class="row">
						<br>
							<a class="btn metro colorSchemeA pull-left" onclick="resetPassword()">						<span class="glyphicon glyphicon-hdd"></span>				&nbsp  Reset Password &nbsp	</a>												
							<a class="btn metro colorSchemeA" onclick="deleteUser()">									<span class="glyphicon glyphicon-warning-sign"></span> 		&nbsp  Delete   &nbsp		</a>					
							<button type="submit" class="btn metro colorSchemeA">										<span class="glyphicon glyphicon-hdd"></span> 				&nbsp  Save   &nbsp			</button>					
							<a class="btn metro colorSchemeA" onclick="" data-dismiss="modal" class="btn btn-default">	<span class="glyphicon glyphicon-circle-arrow-left"></span> &nbsp  Cancel  &nbsp		</a>					
						<br>
					</div>		  

		  </div>
		  </form>
		</div>
		
		<!-- NEW USER MODAL -->
		<div id="newUserModal" class="modal fade black" tabindex="-1" data-width="760" style="display: none;">
		<form id="newUserForm">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Create New User</h4>
		  </div>
		  <div class="modal-body">
		  <div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					
					<div class="form-group row">
						<input name="fName" type="text" class="form-control" id="" placeholder="Enter first name"><br>									
					</div>
					<div class="form-group row">
						<input name="lName" type="text" class="form-control" id="" placeholder="Enter last name"><br>
					</div>
					<div class="form-group row">
						<input name="email" type="text" class="form-control" id="" placeholder="Enter email"><br>
					</div>
					
					<div class="form-group row">
						<select name="accountType" class="form-control">
							<option value="none">Select an account type...</option>
							<option value="two">Option 2</option>
							<option value="three">Option 3</option>
							<option value="four">Option 4</option>
							<option value="five">Option 5</option>
						</select>	
					</div><br>
					
					<div class="form-group row">
						<input name="password" type="text" class="form-control" id="" placeholder="Password"><br>
					</div>
					
					<div class="form-group row">
						<input name="confirmPassword" type="text" class="form-control" id="" placeholder="Reenter password"><br>				
					</div>
				
				</div>
			</div>
		  </div>
		  </div>
		  <div class="modal-footer">
		  
					<div class="row">
						<br>													
							<button type="submit" class="btn metro colorSchemeA pull-right">											<span class="glyphicon glyphicon-hdd"></span> 				&nbsp  Save   &nbsp			</button>					
							<a class="btn metro colorSchemeA pull-right" onclick="" data-dismiss="modal" class="btn btn-default">	<span class="glyphicon glyphicon-circle-arrow-left"></span> &nbsp  Cancel  &nbsp		</a>					
						<br>
					</div>		  

		  </div>
		  </form>
		</div>		
		
		
		
		<script>
		
		$().ready(function() {
			beginUserFill()
			
					// FIELD SUBMIT VALIDATION
					$('#editForm').bootstrapValidator({
						submitHandler: function(){ beginUpdateProfileUpdate();	},
						live: 'enabled', 
						fields: {
							fName: {
								message: 'That entry is not valid',
								validators: {
									notEmpty: {
										message: 'The username is required and can\'t be empty'
									},
									regexp: {
										regexp: /^[a-zA-Z0-9_\.]+$/,
										message: 'The username can only consist of alphabetical, number, dot and underscore'
									}
								}
							},
							lName: {
								message: 'That entry is not valid',
								validators: {
									notEmpty: {
										message: 'The username is required and can\'t be empty'
									},
									regexp: {
										regexp: /^[a-zA-Z0-9_\.]+$/,
										message: 'The username can only consist of alphabetical, number, dot and underscore'
									}
								}
							},
							email: {
								message: 'The username is not valid',
								validators: {
									notEmpty: {
										message: 'The email address is required and can\'t be empty'
									},
									emailAddress: {
										message: 'The input is not a valid email address'
									}
								}
							},
							accountType: {
								validators: {
									regexp: {
										regexp: /^((?!(none|None )).)*$/,
										message: 'You must select a name from the list.'
									}									
								}
							}						
							
						}
					});	
					// END LOGIN VALIDATION			
			
					// NEW USER VALIDATION
					$('#newUserForm').bootstrapValidator({
						submitHandler: function(){ beginNewUser();	},
						live: 'enabled', 
						fields: {
							fName: {
								message: 'That entry is not valid',
								validators: {
									notEmpty: {
										message: 'The username is required and can\'t be empty'
									},
									regexp: {
										regexp: /^[a-zA-Z0-9_\.]+$/,
										message: 'The username can only consist of alphabetical, number, dot and underscore'
									}
								}
							},
							lName: {
								message: 'That entry is not valid',
								validators: {
									notEmpty: {
										message: 'The username is required and can\'t be empty'
									},
									regexp: {
										regexp: /^[a-zA-Z0-9_\.]+$/,
										message: 'The username can only consist of alphabetical, number, dot and underscore'
									}
								}
							},
							email: {
								message: 'The username is not valid',
								validators: {
									notEmpty: {
										message: 'The email address is required and can\'t be empty'
									},
									emailAddress: {
										message: 'The input is not a valid email address'
									}
								}
							},
							accountType: {
								validators: {
									regexp: {
										regexp: /^((?!(none|None )).)*$/,
										message: 'You must select a name from the list.'
									}									
								}
							},
							password: {
								validators: {
									notEmpty: {
										message: 'The password is required and can\'t be empty'
									},
									identical: {
										field: 'confirmPassword',
										message: 'The password and its confirm are not the same'
									}
								}
							},
							confirmPassword: {
								validators: {
									notEmpty: {
										message: 'The confirm password is required and can\'t be empty'
									},
									identical: {
										field: 'password',
										message: 'The password and its confirm are not the same'
									}
								}
							}								
							
						}
					});	
					// END LOGIN VALIDATION	
		})	
		
		
		
		////////////////////////
		///////  EDIT USER CALLS
		function beginUpdateProfileUpdate(){
			loadingScreen.show();
			updateUserProfile();
		}
		
		function returnFromUpdateProfile( returnState ){
			loadingScreen.hide();
			returnState = true;
			
			if(returnState){
				alert("Profile Updated.")
				$('#editModal').modal('hide');
			}
			else{
				alert("Update error:  please try again")
			}
			
		}	
		
		function deleteUser(){
			alert("Delete User")
			$('#editModal').modal('hide');
		}
		
		function resetPassword(){
			alert("Password has been reset.")
			$('#editModal').modal('hide');
		}		
		//
		////////////////////////
		
		
		////////////////////////
		///////  NEW USER CALLS	
		function beginNewUser(){
			loadingScreen.show();
			submitCreateUser();
		}
		
		function returnFromCreateUser(returnState){
				loadingScreen.hide();	
				returnState = true;
				
				
				if(returnState){
					$('#newUserModal').modal('hide')
					setTimeout( function(){ 
						alert("Account created.  Please log-in.")
					}, 500);
					
				}
				else{

					$('#newUserModal').find('.form-group').removeClass('has-success') 
					$('#newUserModal').find('.form-group').addClass('has-error') 

				}
		}
		//
		////////////////////////



		
		function beginUserFill(){
			loadingScreen.show();
			submitForUsers();		
		}
		
		
		function returnFromUsers( state ){
			loadingScreen.hide();
			fillUserNames();
		}
		
			
		function fillUserNames(){
			$('#nameList').empty();
			for (i = 0; i < 45; i++){
				var buildString = '<a class="btn" onclick="updateStats(' + i + ')" > userName ' + i + '</a><br>'
				$('#nameList').append(buildString);
			}
			
		
		}
		
				
		function updateStats( id ){
			$('#statDetails').empty();
			
			var buildString = ""
				buildString += '<h5> Username: ' + id + '</h5>'  
				buildString += '<h5> Detail 1: ' + "" + '</h5>'  
				buildString += '<h5> Detail 2: ' + "" + '</h5>' 
				buildString += '<h5> Detail 3: ' + "" + '</h5>' 
				buildString += '<h5> Detail 4: ' + "" + '</h5>' 
				
				buildString += '<hr>'
				buildString += '<div class="row"><a class="btn metro colorSchemeA pull-right" onclick="getUserDetails()"><span class="glyphicon glyphicon-check"></span> &nbsp Edit User Data </a></div>'
				
				$('#statDetails').append(buildString);		
				
			
		}
		
		
		function getUserDetails(){
		
			$('#editModal').modal('show')
			
			$('#fName').val("First Name")
			$('#lName').val("Last Name")
			$('#email').val("Email")
			$('#accountType').val("two")
		}
		
			
			
		
			
		</script>	
