
		<!------------------------>
		<div class="container">
			<h3>*Can only switch between top/bottom when all notices have disappeared</h3>
			<br><br><br>
				<div class="row">
					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('SUCCESS TOP', 'left', 'top', 'success')" >
						  <span class="glyphicon glyphicon-cog"></span> TOP INFO
						</button>
					</div>
				
					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('ERROR TOP', 'center', 'top', 'error')" >
						  <span class="glyphicon glyphicon-cog"></span> TOP ERROR
						</button>
					</div>	

					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('DEFAULT TOP', 'right', 'top', 'default')" >
						  <span class="glyphicon glyphicon-cog"></span> TOP SUCCESS
						</button>
					</div>				
				</div>				
			<br><br><br>
			
				<div class="row">
					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('BOTTOM TOP', 'left', 'bottom', 'success')" >
						  <span class="glyphicon glyphicon-cog"></span> BOTTOM INFO
						</button>
					</div>
				
					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('BOTTOM ERROR', 'center', 'bottom', 'error')" >
						  <span class="glyphicon glyphicon-cog"></span> BOTTOM ERROR
						</button>
					</div>	

					<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg" onclick="testGrowl('BOTTOM DEFAULT', 'right', 'bottom', 'default')" >
						  <span class="glyphicon glyphicon-cog"></span> BOTTOM SUCCESS
						</button>
					</div>				
				</div>			
		</div>
		<!------------------------>
		
		
		<script>
		
		
			function testGrowl(text, location, orientation, type){
					$.bootstrapGrowl(text, {
						  ele: 'body', // which element to append to
						  type: type, // (null, 'info', 'error', 'success')
						  offset: {from: orientation, amount: 50}, // 'top', or 'bottom'
						  align: location, // ('left', 'right', or 'center')
						  width: 250, // (integer, or 'auto')
						  delay: 4000,
						  allow_dismiss: false,
						  stackup_spacing: 5 // spacing between consecutively stacked growls.		
					});
			}
			
			

		
		</script>