		<br><br><br><br><br><br>
		

	
		<!-------INPUT FIELDS   -->
		<div class="container">
	
		
	
			
		<div class="container">
			<hr>
			<h2>Input fields (Constant)</h2>
			<h4>I stay constant regardless of the window size.</h4>
			<hr>
			<br>	
		</div>	
		
			<div class="row">
				<div class="col-md-12" >
						<div class="row">
						  <div class="col-xs-2">
							<input type="text" class="form-control" placeholder="constant xs2">
						  </div>
						  <div class="col-xs-3">
							<input type="text" class="form-control" placeholder="constant xs3">
						  </div>
						  <div class="col-xs-7">
							<input type="text" class="form-control" placeholder="constant xs7">
						  </div>
						</div>

				</div>
			</div>	
			<br>
			<div class="row">
				<div class="col-md-12" >
						<div class="row">
						  <div class="col-xs-4">
							<input type="text" class="form-control" placeholder="constant xs4">
						  </div>
						  <div class="col-xs-4">
							<input type="text" class="form-control" placeholder="constant xs4">
						  </div>
						  <div class="col-xs-4">
							<input type="text" class="form-control" placeholder="constant xs4">
						  </div>
						</div>

				</div>
			</div>				
				
					<br><br><br><br><br><br>	
			
			<hr>
			<h2>Input fields (Fluid)</h2>
			<h4>I adjust automatically to the screen.</h4>
			<hr>
			<br>		
		
			<br><br><br>
			<div class="row">
				<div class="col-md-12" >
						<div class="row">
						  <div class="col-md-2 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md2">
						  </div>
						  <div class="col-md-3 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md5">
						  </div>
						  <div class="col-md-7 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md7">
						  </div>
						</div>

				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12" >
						<div class="row">
						  <div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md4">
						  </div>
						  <div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md4">
						  </div>
						  <div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="fluid md4">
						  </div>
						</div>
						

				</div>
			</div>					
			
		</div>
		
