		<div class="container">
			<hr>
			<h2>Jumbotron (no container)</h2>
			<h4>I'm designed to catch your eye!  (And take up the entire width).</h4>
			<hr>
			<br>	
		</div>
	
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					
					<h1>Hello, world!</h1>

					
				</div>
				
			</div>
		</div>
		
		<br><br><br><br><br><br>
		
		<div class="container">
			<hr>
			<h2>Jumbotron (container)</h2>
			<h4>I'm designed to catch your eye!  (Now I take up 100% of the container).</h4>
			<hr>
			<br>	
		</div>
	
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-6 col-md-offset-1">
						<h1>Hello, world!</h1>

					</div>
					
				</div>
			</div>
		</div>