<div class="container">
			<hr>
			<h2>Login with built in validation</h2>
			<h4>A basic login/register page.</h4>
			<hr>
			<br>
	
	
	<!-- SPLIT INTO SIDES -->
	<div class="row">
		
		<!-- LEFT SIDE -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<br><br>
			<!-- FILTER CATAGORIES -->
			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10  well">
						<label>LOGIN</label>
						<hr>
								<!-- THE FORM -->
								<form id="loginForm" >

										<div class="form-group row">
											<label class="col-lg-5 control-label">Username</label>
											<div class="col-lg-7">
												<input  type="text" class="form-control" name="username" />
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-5 control-label">Password</label>
											<div class="col-lg-7">
												<input  type="password" class="form-control" name="password" />
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-5 control-label">Retype password</label>
											<div class="col-lg-7">
												<input  type="password" class="form-control" name="confirmPassword" />
											</div>
										</div>
										
										<a class="btn pull-right " data-toggle="modal" href="#forgotModal">I forgot my password or username...</a><br><br>
										
										<hr>
										
										<div class="form-group row">
											<div class="col-lg-9 col-lg-offset-3">
												<button type="submit" class="btn metro colorSchemeA col-xs-11 col-sm-11 col-md-5">		<span class="glyphicon glyphicon-user"></span> &nbsp Login </button>
											</div>
										</div>
						

								</form>
								<!-- END FORM -->

					</div>
			</div>
		
		</div>
			<!-- END LEFT SIDE -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">	
			
			<br><br>
			<!-- FILTER CATAGORIES -->
			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10  well">
						<label>REGISTER</label>
						<hr>
						<div class="row">
							<a class="btn metro colorSchemeA col-xs-11 col-sm-11 col-md-11" data-toggle="modal" href="#newUserModal">		<span class="glyphicon glyphicon-plus"></span> &nbsp Register New Account </a>
						</div>

				
					</div>
			</div>
			
		</div>
	</div>	
</div>




		
		<!-- NEW USER MODAL -->
		<div id="newUserModal" class="modal fade black" tabindex="-1" data-width="760" style="display: none;">
		 <form id="registerForm" >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Register New User</h4>
		  </div>
		 
		  <div class="modal-body">
		  <div class="container">
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				
								<!-- THE FORM -->
							

										<div class="form-group row">
											<label class="col-lg-3 control-label">First Name</label>
											<div class="col-lg-5">
												<input type="text" class="form-control" name="firstName" />
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-lg-3 control-label">Last Name</label>
											<div class="col-lg-5">
												<input  type="text" class="form-control" name="lastName" />
											</div>
										</div>		

										<div class="form-group row">
											<label class="col-lg-3 control-label">Email</label>
											<div class="col-lg-5">
												<input  type="text" class="form-control" name="email" />
											</div>
										</div>	

										<div class="form-group row">
											<label class="col-lg-3 control-label">Username</label>
											<div class="col-lg-5">
												<input  type="text" class="form-control" name="userName" />
											</div>
										</div>											

										<div class="form-group row">
											<label class="col-lg-3 control-label">Password</label>
											<div class="col-lg-5">
												<input  type="password" class="form-control" name="password" />
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 control-label">Retype password</label>
											<div class="col-lg-5">
												<input  type="password" class="form-control" name="confirmPassword" />
											</div>
										</div>
										

						

								
								<!-- END FORM -->
					
	
				
				</div>
			</div>
		  </div>
		  </div>
		  <div class="modal-footer">
		  
					<div class="row">
						<br>													
							<button type="submit" class="btn metro colorSchemeA pull-right" onclick="">													<span class="glyphicon glyphicon-collapse-up"></span> 		&nbsp  Submit  &nbsp		</button>					
							<button 			  class="btn metro colorSchemeA pull-right" onclick="" data-dismiss="modal" class="btn btn-default">	<span class="glyphicon glyphicon-circle-arrow-left"></span> &nbsp  Cancel  &nbsp		</button>					
						<br>
					</div>		  

		  </div>
		  </form>
		</div>		
		
		
		<!-- FORGOT MODAL -->
		<div id="forgotModal" class="modal fade black" tabindex="-1" data-width="760" style="display: none;">
		 <form id="forgotForm" >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Forgotten Username/Password</h4>
		  </div>
		 
		  <div class="modal-body">
		  <div class="container">
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				
								<!-- THE FORM -->
								

										<div class="form-group">
											<label class="col-lg-3 control-label">Please enter your email</label>
											<div class="col-lg-5">
												<input  type="text" class="form-control" name="email" />
											</div>
										</div>	


								
								<!-- END FORM -->
					
	
				
				</div>
			</div>
		  </div>
		  </div>
		  <div class="modal-footer">
		  
					<div class="row">
						<br>													
							<button type="submit" class="btn metro colorSchemeA pull-right" onclick="">													<span class="glyphicon glyphicon-collapse-up"></span> 		&nbsp  Submit  &nbsp		</button>					
							<button 			  class="btn metro colorSchemeA pull-right" onclick="" data-dismiss="modal" class="btn btn-default">	<span class="glyphicon glyphicon-circle-arrow-left"></span> &nbsp  Cancel  &nbsp		</button>					
						<br>
					</div>		  

		  </div>
		  </form>
		</div>			
		
		
		<script>
		
		
		//INIT//
		//
		formControl()
		//
		///////
		

		function formControl(){
		// LOGIN VALIDATION
		$('#forgotForm').bootstrapValidator({
			message: 'This value is not valid',
			submitHandler: function(){ beginRetrieve();	},
			live: 'enabled', 
			fields: {
				email: {
					message: 'The username is not valid',
					validators: {
						notEmpty: {
							message: 'The email address is required and can\'t be empty'
						},
						emailAddress: {
							message: 'The input is not a valid email address'
						}
					}
				}
			}
		});	
		// END LOGIN VALIDATION

		// LOGIN VALIDATION
		$('#loginForm').bootstrapValidator({
			message: 'This value is not valid',
			submitHandler: function(){ beginLogin();	},
			live: 'enabled', 
			fields: {
				username: {
					message: 'The username is not valid',
					validators: {
						notEmpty: {
							message: 'The username is required and can\'t be empty'
						},
						regexp: {
							regexp: /^[a-zA-Z0-9_\.]+$/,
							message: 'The username can only consist of alphabetical, number, dot and underscore'
						}
					}
				},
				password: {
					validators: {
						notEmpty: {
							message: 'The password is required and can\'t be empty'
						},
						identical: {
							field: 'confirmPassword',
							message: 'The password and its confirm are not the same'
						}
					}
				},
				confirmPassword: {
					validators: {
						notEmpty: {
							message: 'The confirm password is required and can\'t be empty'
						},
						identical: {
							field: 'password',
							message: 'The password and its confirm are not the same'
						}
					}
				}
			}
		});	
		// END LOGIN VALIDATION
		
		
		// LOGIN VALIDATION
		$('#registerForm').bootstrapValidator({
			message: 'This value is not valid',
			submitHandler: function(){ beginNewUser();	},
			live: 'enabled', 
			fields: {
				firstName: {
					validators: {
						notEmpty: {
							message: 'Entry is required and can\'t be empty'
						},
						regexp: {
							regexp: /^[a-zA-Z0-9_\.]+$/,
							message: 'Entry can only consist of alphabetical, number, dot and underscore'
						}
					}
				},
				lastName: {
					validators: {
						notEmpty: {
							message: 'Entry is required and can\'t be empty'
						},
						regexp: {
							regexp: /^[a-zA-Z0-9_\.]+$/,
							message: 'Entry can only consist of alphabetical, number, dot and underscore'
						}
					}
				},	
				email: {
					validators: {
						notEmpty: {
							message: 'The email address is required and can\'t be empty'
						},
						emailAddress: {
							message: 'The input is not a valid email address'
						}
					}
				},								
				userName: {
					validators: {
						notEmpty: {
							message: 'Entry is required and can\'t be empty'
						},
						stringLength: {
							min: 6,
							max: 30,
							message: 'The username must be more than 6 and less than 30 characters long'
						},
						regexp: {
							regexp: /^[a-zA-Z0-9_\.]+$/,
							message: 'Entry can only consist of alphabetical, number, dot and underscore'
						}
					}
				},								
				password: {
					validators: {
						notEmpty: {
							message: 'The password is required and can\'t be empty'
						},
						identical: {
							field: 'confirmPassword',
							message: 'The password and its confirm are not the same'
						}
					}
				},
				confirmPassword: {
					validators: {
						notEmpty: {
							message: 'The confirm password is required and can\'t be empty'
						},
						identical: {
							field: 'password',
							message: 'The password and its confirm are not the same'
						}
					}
				}
			}
		});	
		// END LOGIN VALIDATION					
		}
		
		
		/////////////////////////////
		//  LOST PASSWORD / RETRIEVE //
		function beginRetrieve(){
				loadingScreen.show()
				submitToRetrieve()	
		}
		
		function returnFromRetireve(){
				loadingScreen.hide();
				returnState = true;
				
				
				if(returnState){
					$('#forgotModal').modal('hide')
					setTimeout( function(){ 
						alert("Please check your email for instructions on how to change your password.")
					}, 500);
					
				}
				else{
					$('#forgotForm').find('.form-group').find('input').val("");
					$('#forgotForm').find('.form-group').find('input').first().attr("placeholder", "Email not found");
					$('#forgotForm').find('.form-group').removeClass('has-success') 
					$('#forgotForm').find('.form-group').addClass('has-error') 

				}
		}
		// END PASSWORD / RETRIEVE //
		/////////////////////////////
		
		
		/////////////////////////////
		// LOGIN
		function beginLogin(){
				loadingScreen.show()
				submitToLogin( "userName", "password" )												
		}
		
		function returnFromLogin(returnState){				
				loadingScreen.hide();
				returnState = true;
				
				
				if(returnState){
					sessionLogin();
				}
				else{
					$('#loginForm').find('.form-group').find('input').val("");
					$('#loginForm').find('.form-group').find('input').first().attr("placeholder", "Invalid username/password");
					$('#loginForm').find('.form-group').removeClass('has-success') 
					$('#loginForm').find('.form-group').addClass('has-error') 

				}
		}
		// END LOGIN
		/////////////////////////////
		
		
		/////////////////////////////
		// NEW USER
		function beginNewUser(){
				loadingScreen.show()
				submitCreateUser()		
		}
		
		function returnFromCreateUser(returnState){				
				loadingScreen.hide();	
				returnState = true;
				
				
				if(returnState){
					$('#newUserModal').modal('hide')
					setTimeout( function(){ 
						alert("Account created.  Please log-in.")
					}, 500);
					
				}
				else{

					$('#registerForm').find('.form-group').removeClass('has-success') 
					$('#registerForm').find('.form-group').addClass('has-error') 

				}
		}	
		//
		/////////////////////////////
		
		</script>	
