	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Quote</h2>
			<h4>I'm a quote.  Meh.</h4>
			<hr>
			<br>	
	</div>	

		<!-- QUOTE -->
		<div class="container">
			<br><br><br>
			<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<blockquote class="pull-right">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
			</blockquote>
			</div>
			</div>
			<br><br><br>
		</div>
		<!------------------------>
		<br><br><br><br><br><br>
		
		
		<br><br><br><br><br>
		<br><br><br><br><br>		