	<br><br><br><br><br><br>
	<div class="container colorSchemeGray">
			<hr>
			<h2>Transitions</h2>
			<h4>They do a lot to improve web design aesthetics.</h4>
			<hr>
			<br>	
			
			
			
			<br><br><br>
			<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<blockquote class="pull-right">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
			</blockquote>
			</div>
			</div>
			<br><br><br>			
	</div>	

