    <div class="container">
      <div class="xs-10-col">
        <h1>Create annotations for your images</h1>
		<img id="example1" src="templateExamples/exampleImages/img1.jpg" class="annotatable" >	
      </div>
	  <div class="xs-2-col">
		<br>
			<a class="btn metro colorSchemeA" onclick="saveAnnotations()">SAVE ANNOTATIONS</a>
			<a class="btn metro colorSchemeA" onclick="clearAllAnnotations()">CLEAR ALL</a>
	  </div>
    </div>
	
	<script>
	
	
	// DECLARE GLOBAL
	//
	var allAnnotations = new Array();
	var annotationArray = new Array();
	
	var annotationData = JSON.parse(loadVar( "annotations" ))
	//
	/////////////////

	//  ON READY ////
	//
	$().ready(function() {				
		initAnno() 	
		
		// ON ANNNOTATION CREATE
		anno.addHandler('onAnnotationCreated', function(annotation) {
			saveAnnotations();
		}); 	
		////////////////////////
		
		// ON ANNNOTATION CREATE
		anno.addHandler('onAnnotationRemoved', function(annotation) {			
			annotationArray = new Array();
			saveAnnotations();
		}); 	
		////////////////////////		

		// ON ANNOTATION UPDATE
		anno.addHandler('onAnnotationUpdated', function(annotation) {
			saveAnnotations();
		}); 			
		////////////////////////
				
				
		////////////////////////
		// SLIGHT DELAY FOR PAGE TO BUILD
		setTimeout(function(){
			
			
			if (annotationData.length > 0){
				loadAnnotations()
			}
			
		}, 500);
		////////////////////////
		
    });	
	//
	///////////////////
	
	
	////  SAVE ANNOTATIONS //
	//
	function saveAnnotations(){
		var i = 0;
		var annotationObject = $( anno.getAnnotations() )
			
		
		function startLoop(){
			
			aNote = new Object();
			var img = new Image;
				img.onload = function() {
					aNote.text 		=  $(annotationObject[i]).attr('text')
					aNote.type 		=  $(annotationObject[i]).attr('shapes')[0].type
					aNote.unit 		=  'pixel'

					aNote.x	 		=  $(annotationObject[i]).attr('shapes')[0].geometry.x 
					aNote.y	 		=  $(annotationObject[i]).attr('shapes')[0].geometry.y 												
					aNote.width 	=  $(annotationObject[i]).attr('shapes')[0].geometry.width
					aNote.height 	=  $(annotationObject[i]).attr('shapes')[0].geometry.height	
										
					aNote.x1	 	=  $(annotationObject[i]).attr('shapes')[0].geometry.x * img.width
					aNote.y1	 	=  $(annotationObject[i]).attr('shapes')[0].geometry.y * img.height														
					aNote.x2  		=  $(annotationObject[i]).attr('shapes')[0].geometry.width * img.width  	+ aNote.x1
					aNote.y2	 	=  $(annotationObject[i]).attr('shapes')[0].geometry.height	* img.height 	+ aNote.y1	
					
					
					
					annotationArray[i] = aNote
	
					i++;
					if ( i < annotationObject.length )	{ startLoop() 		}					
					else								{ exitLoop()		}
				};
				img.src = $(annotationObject[i]).attr('src');	
				
				
		}
		
		function exitLoop(){
			trace(annotationArray.length + " annotations saved.")
			saveVar( "annotations", JSON.stringify(annotationArray) )				
		}

		startLoop();
	
	}
	//
	/////////////////////////
	
	
	////  LOAD ANNOTATIONS //
	//
	function loadAnnotations(){
		
		
		var data = annotationData
		var i = 0;
		
			
		function startLoop(){
			
			var traceMsg = (i+1) +"/" + data.length + " annotations loaded."
			trace(traceMsg, "success")
			// GET COORDINATES FROM DATA
			//
			var myAnnotation = {
				src : 'templateExamples/exampleImages/img1.jpg',
				text : data[i].text,
				shapes : [{
					type : 'rect',

				geometry : { x : data[i].x, y: data[i].y, width : data[i].width, height: data[i].height }
				}]
			} 
			anno.addAnnotation(myAnnotation)
			//
			///////////////////////////////////////
			
			
			//  PACKAGE INTO ARRAY ////////////////
			//			
			aNote = new Object();
					aNote.text 		=  data[i].text
					aNote.type 		=  data[i].type
					aNote.unit 		= 'pixel'

					aNote.x	 		=  data[i].x
					aNote.y	 		=  data[i].y
					aNote.width  	=  data[i].width
					aNote.height	=  data[i].height				
					
					aNote.x1	 	=  data[i].x1
					aNote.y1	 	=  data[i].y1
					aNote.x2  		=  data[i].x2
					aNote.y2	 	=  data[i].y2
						
			annotationArray[i] = aNote
			//
			////////////////////////////////////////
			
			i++;
			if ( i < data.length )	{ 	 startLoop() 	}	
			else					{ 		exitLoop() 	}
		}
		
		function exitLoop(){
			rootStorage.set("annotationsAll", JSON.stringify(annotationArray) ) 	
		}
		
		startLoop();
			
		
	}
	//
	/////////////////////////
	
	/////////////////////////
	//
	function clearAllAnnotations(){	
		saveVar( "annotations", JSON.stringify([]) )	
		anno.removeAll();
		allAnnotations = new Array();
		annotationArray = new Array();		
		trace(annotationArray.length + " annotations saved.")
	}
	//
	/////////////////////////
	
	</script>