
	<!-- CSS MUST BE INCLUDED AT TOP OF THE PAGE -->
	<link rel="stylesheet" type="text/css" href="plugins/animatedBorderMenus/css/icons.css" />	
	<link rel="stylesheet" type="text/css" href="plugins/animatedBorderMenus/css/style3.css" />	 <!-- can choose from style1-5 -->
	<!-- END -->

	
		<nav id="bt-menu" class="bt-menu" style="position: absolute">
	
		
			<a href="" class="bt-menu-trigger edgeMajor">  ALT MENU  </a>
			
			<ul>
				<li class=""><a class="btn bt-icon icon-home" onclick="changeHash('home',		67)">Grid System </a></li>
				<li class=""><a class="btn bt-icon icon-home " onclick="changeHash('page2',		67)">Components </a></li>
				<li class=""><a class="btn bt-icon icon-home " onclick="changeHash('page3',		67)">Sectionals </a></li>
				<li class=""><a class="btn bt-icon icon-home " onclick="changeHash('page12',	67)">Modal+ </a></li>
				<li class=""><a class="btn bt-icon icon-home " onclick="changeHash('page11',	67)">AngularJS </a></li>
				<li class=""><a class="btn bt-icon icon-home " onclick="setScrollTop(0, 500);"		>Back To Top </a></li>
				
				
			</ul>
			
		</nav>	
	

	<!-- JS MUST BE INCLUDED AT BOTTOM OF THE SCREEN -->
	<script src="plugins/animatedBorderMenus/js/borderMenu.js"></script>				<!-- MUST BE INCLUDED WITH THE PAGE -->
