
	<div class="container">
			<hr>
			<h2>Photo Pile (Responsive)</h2>
			<h4>I adjust automatically.  Images have to be roughly the same size, though.</h4>
			<hr>
			<br>	
	</div>	

	
		<div class="container">	
	
			<section class="main">
				
				
					<div class="row col-md-offset-5">
						<a id="galleryBack" class="btn btn-primary metro colorSchemeA col-md-3">BACK</a>
					</div>
					<hr><br>
					
					<ul id="tp-grid" class="tp-grid">

						
						<li data-pile="pile1">
							
								<span class="tp-info"><span>Image 1</span></span>
								<img src="templateExamples/exampleImages/img1.jpg" width=200 />
							
						</li>
						<li data-pile="pile1">
						
								<span class="tp-info"><span>Image 2</span></span>
								<img src="templateExamples/exampleImages/img2.jpg" width=200/>
						
						</li>
							<li data-pile="pile1">
						
								<span class="tp-info"><span>Image 3</span></span>
								<img src="templateExamples/exampleImages/img3.jpg" width=200/>
							
						</li>

						
						<li data-pile="pile2">
						
								<span class="tp-info"><span>On to Easter</span></span>
								<img src="templateExamples/exampleImages/sets/2/1.jpg" />
						
						</li>
						<li data-pile="pile2">
						
								<span class="tp-info"><span>Love Birds</span></span>
								<img src="templateExamples/exampleImages/sets/2/2.jpg" />
							
						</li>
						<li data-pile="pile2">
							
								<span class="tp-info"><span>Here Fishy fishy</span></span>
								<img src="templateExamples/exampleImages/sets/2/3.jpg" />
							
						</li>

						
						<li data-pile="pile3">
						
								<span class="tp-info"><span>Briefcase</span></span>
								<img src="templateExamples/exampleImages/sets/3/1.jpg" />
							
						</li>
						<li data-pile="pile3">
							
								<span class="tp-info"><span>Clipboard</span></span>
								<img src="templateExamples/exampleImages/sets/3/2.jpg" />
							
						</li>
						<li data-pile="pile3">
						
								<span class="tp-info"><span>Sweet pack</span></span>
								<img src="templateExamples/exampleImages/sets/3/3.jpg" />
						
						</li>

						
						<li data-pile="pile4">
						
								<span class="tp-info"><span>Growth in 2012 (Holiday Card)</span></span>
								<img src="templateExamples/exampleImages/sets/4/1.jpg" />
						
						</li>
						<li data-pile="pile4">
							
								<span class="tp-info"><span>Grady Wilson</span></span>
								<img src="templateExamples/exampleImages/sets/4/2.jpg" />
						
						</li>
						<li data-pile="pile4">
							
								<span class="tp-info"><span>More Cowbell</span></span>
								<img src="templateExamples/exampleImages/sets/4/3.jpg" />
							
						</li>
					</ul>
				
			</section>

		</div><!-- /container -->
		
		
		<script>	
			
		function makeStableGallery(){
			var $grid = $( '#tp-grid' ),
				$name = $( '#name' ),
				$close = $( '#galleryBack' ),
				$loader = $( '<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>' ).insertBefore( $grid ),
				stapel = $grid.stapel( {
					onLoad : function() {
						$loader.remove();
					},
					onBeforeOpen : function( pileName ) {
						$name.html( pileName );
					},
					onAfterOpen : function( pileName ) {
						$close.show();
					}
				} );

			$close.on( 'click', function() {
				//$close.hide();
				$name.empty();
				stapel.closePile();
			} );
		}
		
		makeStableGallery()
	
		
		</script>		