
	<div class="container">
			<hr>
			<h2>Animated Gallery (Fixed at 1080 width)</h2>
			<h4>I can have HTML, images, and other content.  I can be set with delay timers, colors to fade in/out to, and direction and scale at which content flys in and out.</h4>
			<hr>
			<br>	
	</div>	
		
		<div class="colorSchemeGray" style="min-width: 1080px; height: 800px;">
			
			<br><br><br>
			<section id="jms-slideshow" class="jms-slideshow" style="min-width: 1080px">
				<div class="step" data-color="color-1">
					<img src="templateExamples/exampleImages/sets/1/1.jpg" />
					<div class="jms-content">
						<h3>Slide 1...</h3>
						<p>Something something something</p>
						<a class="jms-link" href="">Read more</a>
					</div>
					
				</div>
				<div class="step" data-color="color-2" data-y="500" data-scale="0.4" data-rotate-x="30">
					<div class="jms-content">
						<h3>Slide 2...</h3>
						<p>But as the riper should by time decease, his tender heir might bear his memory</p>
						<a class="jms-link" href="">Read more</a>
					</div>
					<img src="templateExamples/exampleImages/sets/1/2.jpg" />
				</div>
				<div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
					<div class="jms-content">
						<h3>Slide 3...</h3>
						<p>Within thine own bud buriest thy content and, tender churl, makest waste in niggarding</p>
						<a class="jms-link" href="">Read more</a>
					</div>
					<img src="templateExamples/exampleImages/sets/1/3.jpg" />
				</div>
				<div class="step" data-color="color-4" data-x="3000">
					<div class="jms-content">
						<h3>Slide 4...</h3>
						<p>Making a famine where abundance lies, thyself thy foe, to thy sweet self too cruel</p>
						<a class="jms-link" href="">Read more</a>
					</div>
					<img src="templateExamples/exampleImages/sets/2/1.jpg" />
				</div>
				<div class="step" data-color="color-5" data-x="4500" data-z="1000" data-rotate-y="45">
					<div class="jms-content">
						<h3>Slide 5...</h3>
						<p>Thou that art now the world's fresh ornament and only herald to the gaudy spring</p>
						<a class="jms-link" href="">Read more</a>
					</div>
					<img src="templateExamples/exampleImages/sets/2/1.jpg" />
				</div>
			</section>
			</div>
			
			
			<script>
			function initImpress(){
				$( '#jms-slideshow' ).jmslideshow();	
			}
			initImpress();
			</script>